################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPattern
/KiemThuPhanMem
/VuPhamCongMinh
/VuPhamCongMinhTests
/VuPhamCongMinh_Test.zip
