@model DoAnTMDT.Models.Product

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<h1>Thêm sản phẩm</h1>

@*<h4>Product</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="ProductName" class="control-label"></label>*@
                Tên sản phẩm
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="ProductPrice" class="control-label"></label>*@
                Đơn giá
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="SmallSizeQuantity" class="control-label"></label>*@
                Size nhỏ
                <input asp-for="SmallSizeQuantity" class="form-control" />
                <span asp-validation-for="SmallSizeQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="MediumSizeQuantity" class="control-label"></label>*@
                <input asp-for="MediumSizeQuantity" class="form-control" />
                Size vừa
                <span asp-validation-for="MediumSizeQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="LargeSizeQuantity" class="control-label"></label>*@
                Size lớn
                <input asp-for="LargeSizeQuantity" class="form-control" />
                <span asp-validation-for="LargeSizeQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="ImagePath" class="control-label"></label>*@
                Hình ảnh
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm sản phẩm" class="btn btn-primary" /> |
                <a asp-action="Product">Quay lại!</a>
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Product">Quay lại!</a>
</div>*@

