@model IEnumerable<Cart>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @ViewBag.Total
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var item in Model)
        {
            @foreach (var cartItem in item.CartDetails)
            {
            <a class="dropdown-item" href="#">@cartItem.Product.ProductName</a>
            <a class="dropdown-item" href="#">@cartItem.Product.ProductPrice</a>
            <a class="dropdown-item" href="#">@cartItem.Quantity</a>
            }
        }
    </div>

</div>