@model IEnumerable<Cart>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @ViewBag.Total
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        @foreach (var item in Model)
        {
            @foreach (var cartItem in item.CartDetails)
            {
                <div class="d-inline-flex align-items-center p-2 bd-highlight" style="width:25em">
                    @if (item.CartDetails.Count == 0)
                    {
                        <img src="@Url.Content(cartItem.Product.ImagePath)" class="w-50" />
                        <p class="font-weight-bold ml-2" href="#">
                            @cartItem.Product.ProductName
                            <br />
                            $@cartItem.Product.ProductPrice
                            <br />
                            @cartItem.Quantity cái
                        </p>
                    }
                </div>
            }
        }
    </div>

</div>